:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  header {
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .hero {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .hero .right {
    color: var(--white);
    margin: 15rem 15rem 10rem 35rem;
  }
  .hero .right h6 {
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  .hero .right h1 {
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .hero .right h1 span {
    color: var(--primary);
  }
  .hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
    font-size: 1.2em;
  }
  
  section {
    padding: 6rem;
  }
  section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  section.about h1 span {
    color: var(--primary);
  }
  section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  section.about p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.9rem;
    margin-bottom: 2rem;
  }
  .skill_list {
    list-style: disclosure-closed;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    color: var(--secondary);
  }

  .skill_list li {
    margin: 0.5em;
  }

  section.services {
    background: rgb(17, 17, 17);
  }
  .services-head {
    color: rgb(10, 9, 9);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 0.5rem;
    color: var(--primary);
    font-size: 3rem;
  }
  .services-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .card img {
    max-width: 500px;
    background: white;
    width: 100%;
    max-height: 225px;
    height: 100%;
}
  section.services .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2em;
  }
  section.services .card-grid .card {
    background: var(--white);
    /*padding: 3rem 2rem; */
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  section.services .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--seconday);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    padding: 0 0.4em;
  }
  .proj_button_div {
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

  /* section.services .card-grid .card:hover {
    background: var(--primary);
  }
  section.services .card-grid .card:hover h2 {
    color: var(--white);
  }
  section.services .card-grid .card:hover p {
    color: var(--white);
  } */
  
  .flex {
    display: flex;
  }
  .items-centre {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-right {
    justify-content: right;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: -15rem;
  }
  .btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
  }
  .flex-1 {
    flex: 1;
  }
  .btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  .btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
  }

  #contact{
    background-color: rgb(17, 17, 17);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 30rem;
  }

  #contact h1 {
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 2rem;
  }

  .form-input {
    width: 100%;
    border: 1px solid black;
    padding: 10px 7px;
    margin: 8px 0;
    font-size: 0.8em;
  }

  .send_message {
    font-size: 1.1rem;
    margin-top: 3rem;
  }

  .label-div {
    margin-bottom: 0.6em;
  }

  .label-input {
    font-weight: bold;
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    padding-top: 10em;
    padding-bottom: 2rem;
  }

#profile-link {
    padding: 0 3rem;
    margin: 0 4rem;
    text-decoration: none;
    color: var(--white);
}
  

/*for samrtphones and tabs*/

@media screen and (max-width:1024px){

  .hero .right{
    margin: 5rem 2em 10em 3em;
  }
   
  .hero .right h6{
    margin-bottom: 0;
  }

  .hero .right h1{
    font-size: 3.5rem;
  }

  .items-centre{
    flex-direction: column;
  }

  .flex-1{
    margin-top: 5em;
  }

  .about {
    padding: 3rem 3rem 4rem 3rem;
  }

  .services {
    padding: 6rem 1rem;
  }

  section.services .card-grid {
    /* display: flex;
    flex-direction: row; */
    column-gap: 2rem;
    overflow: auto;
  }

  .card img {
    width: 375px;
    background: white;
  }

  #contact{
    padding: 5rem 2.5rem;
  }

  footer{
    padding-top: 5em;
    padding-bottom: 1em;
  }

  #profile-link {
    padding: 0;
    margin: 0 1.5em;
  }

  footer #icon {
     font-size: 3em;
  }
}

/*for tablets*/

@media (min-width: 768px) and (max-width: 1024px){

  .hero .right{
    margin: 5rem 5rem 8rem 10rem;
  }

  .items-centre {
    flex-direction: row;
  }

  #contact{
    padding: 0;
  }

  #profile-link {
    padding: 0;
    margin: 0 4.5em;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .hero .right{
    margin: 5rem 5rem 8rem 15rem;
  }
  .items-centre {
    flex-direction: row;
  }

  #contact{
    padding: 0;
  }

  #profile-link {
    padding: 0;
    margin: 0 6em;
  }
  
}